<!doctype html>
<title>Hello from Flask</title>
<h3>{{ name }}</h3>
<script type="text/javascript">
    function playSound(wavFilename) {
        var url = "http://media.merriam-webster.com/soundc11/";
        url += wavFilename[0] + "/" + wavFilename;
        var audio = new Audio(url);
        audio.play();
    }
</script>
{% block body %}
    <table>        
    {% for x in range(0, wordinfos|length) %}
        <tr>
        <td><b>{{ noteinfos[x].note }}</b></td>
        <td onclick="playSound('{{wordinfos[x].wav}}')">{{wordinfos[x].word}}</td>
        <td>{{ noteinfos[x].sentence }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}