<!doctype html>

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='vue.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.2.4.min.js') }}">
</script>
<script type="text/javascript" src="{{ url_for('static', filename='api.js') }}">
</script>
<script type="text/javascript">
    function playSound(wavFilename) {
        var url = "http://media.merriam-webster.com/soundc11/";
        url += wavFilename[0] + "/" + wavFilename;
        var audio = new Audio(url);
        audio.play();
    }

    function lookup(noteid, note) {
        console.log(noteid + "," + note);
        lookupWord({note: note}, function(noteinfo) {
            // noteinfo = {term, sound}
            updateNoteToRemoteServer({id: noteid, term: noteinfo.term});
            postWordToRemoteServer({term: noteinfo.term, sound: noteinfo.sound});
            setWordAndSoundOfNote(noteid, noteinfo.term, noteinfo.sound);
        });
    }

    function setWordAndSoundOfNote(noteId, word, sound) {
        var wordElement = $("#"+noteId).children().eq(1);
        wordElement.text(word);
        wordElement.click(function(){
            playSound(sound);
        }); 
    }

    function boldAllNotes() {
        $("#wordlists").children(":first").children().each(function () {
            var note = $(this).children().eq(0).text();
            var sentenceElement = $(this).children().eq(3);
            sentenceElement.html(sentenceElement.text().replace(note, "<b>" + note + "</b>"));
        });
    }
</script>
{% endblock %}
{% block body %}
<title>Hello from Flask</title>
<h3>{{ name }}</h3>
<div id="app">
  <p>${message}</p>
</div>
<table id="wordlists">        
{% for x in range(0, wordinfos|length) %}
    <tr id = "{{ noteinfos[x].id }}">
        <td><b>{{ noteinfos[x].note }}</b></td>
        <td onclick="playSound('{{ wordinfos[x].wav }}')">{{wordinfos[x].word}}</td>
        <td onclick="lookup({{ noteinfos[x].id }}, '{{ noteinfos[x].note }}')">Lookup</td>
        <td>{{ noteinfos[x].sentence }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
<script type="text/javascript">
    new Vue({
        delimiters: ['${', '}'],
        el: '#app',
        data: {
            message: 'Hello Vue.js!'
        }
    });

    $(document).ready(function() {
        boldAllNotes();
    });
</script>